
/* navigation section start */
.navbar {
    display: block;
    background-color: white;
}
.navbar .navbar_logo{
    margin: 0;
    text-align: center;
}
.navbar .navbar_menu ul{
    display: block;
    text-align: center;
    background-color: white;
}

.navbar .navbar_menu ul li{
    margin: 5px;
    background-color: #00C6A9;
    padding: 20px;
    border-radius: 5px;
}
.navbar .navbar_menu ul li:hover{
    background-color: blue;
}
/* navigation section end */

/* hero section start */
.hero_section{
    display: block;
    text-align: center;
}

.hero_section .info_section .button_section {
    margin: 0 auto;
    margin-bottom: 15px;
}

.hero_section .img_section img{
    width: 100%;
}

/* hero section end */

/* book section start */

.book_section{
    text-align: left;
}

.book_section .form_section form .form_row {
    display: block;
}

/* book section end */

/* about section start */

.about_section .container .row{
    display: block;
    width: 100%;
}
.about_section .container .row .col_6{
    max-width: 100%;
}
.about_section .container .row .image_section img{
    width: 100%;
}

/* about section end */

/* treatment section start */

.treatment_section .container .row{
    display: block;
}
.treatment_section .container .row .col {
    max-width: 100%;
}

/* treatment section end */

/* contact section start */
.contact_section .container .row{
    display: block;
    width: 100%;
}
.contact_section .container .row .form_container{
    max-width: 100%;
}
.contact_section .container{
    margin-left: 0px;
}

/* contact section end */

/* address section start */

.address_section{
    padding: 10px 0;
}
.address_section .container {
    display: block;

}

.address_section .container .map iframe{
    width: 100%;
    height: 250px
}

.address_section .container .address_container{
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
    background-color: #252525;
}

/* address section end */

/* footer section start */
.footer_section{
    display: block;
    text-align: center;
}

/* footer section end */


