* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: 400;
}

/* navigation bar start */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #00C6A9;
  width: 100%;
}
.navbar .navbar_logo {
  padding: 10px 40px;
  background-color: white;
  margin-left: 30px;
}
.navbar .navbar_menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar .navbar_menu ul li {
  padding: 40px;
  margin: 10px;
  /* font-size: 1.2rem; */
}
.navbar .navbar_menu ul li a {
  text-decoration: none;
  color: white;
}
.navbar .navbar_menu ul li a:hover {
  color: black;
}
.navbar .navbar_menu ul li:last-child {
  padding-right: 20px;
}

/* navigation bar end */
/* hero section start */
.hero_section {
  display: flex;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 45px 30px 75px 30px;
}
.hero_section .info_section {
  flex: 1;
  margin: 10px;
  padding: 10px;
}
.hero_section .info_section .button_section {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  position: relative;
  padding-top: 60px;
  z-index: 3;
  margin-top: 15px;
  margin-bottom: 45px;
}
.hero_section .info_section .button_section i {
  background-color: white;
  color: #00C6A9;
  font-size: 4rem;
}
.hero_section .info_section .text_section h3 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.hero_section .info_section .text_section h3 span {
  color: #00c6a9;
}
.hero_section .info_section .text_section p {
  color: #6d6d6d;
  margin-top: 0;
  margin-bottom: 1rem;
}
.hero_section .info_section .text_section a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #252525;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 25px;
  text-decoration: none;
}
.hero_section .img_section {
  flex: 1;
  margin: 10px;
  padding: 0 15px;
}
.hero_section .img_section img {
  overflow-clip-margin: content-box;
  overflow: clip;
  border-style: none;
}

/* hero section end */
/* book section start */
.book_section {
  padding: 90px 0;
}
.book_section .form_section {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.book_section .form_section form {
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  padding: 35px 45px;
  display: block;
  margin-top: 0em;
}
.book_section .form_section form h4 {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 35px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}
.book_section .form_section form h4 span {
  color: #00c6a9;
}
.book_section .form_section form h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 2px;
  background-color: #00c6a9;
}
.book_section .form_section form .form_row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  width: 100%;
}
.book_section .form_section form .form_row .form_group {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 1rem;
  flex: 33.333333%;
}
.book_section .form_section form .form_row .form_group label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.book_section .form_section form .form_row .form_group .form_control {
  width: 100%;
  background-color: transparent;
  border: 1px solid #00c6a9;
  height: 45px;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
}
.book_section .form_section form .form_row #button {
  background-color: #252525;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.book_section .form_section form .form_row #button:hover {
  cursor: pointer;
}

/* book section end */
/* about section start */
.about_section {
  display: block;
}
.about_section .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about_section .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}
.about_section .container .row .col_6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.about_section .container .row .details_section h2 {
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.about_section .container .row .details_section h2 span {
  color: #00c6a9;
}
.about_section .container .row .details_section p {
  color: #999;
  margin-top: 15px;
  margin-bottom: 1rem;
}
.about_section .container .row .details_section a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #252525;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  text-decoration: none;
}

/* about section end */
/* treatment section start*/
.treatment_section {
  padding: 90px 0;
}
.treatment_section .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.treatment_section .container .container_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.5rem;
}
.treatment_section .container .container_header h2 {
  font-size: 1.8rem;
}
.treatment_section .container .container_header h2 span {
  color: #00c6a9;
}
.treatment_section .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 30px;
}
.treatment_section .container .row .col {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.treatment_section .container .row .col .box {
  margin-top: 45px;
}
.treatment_section .container .row .col .box .image_box {
  width: 65px;
}
.treatment_section .container .row .col .box .detail_box {
  margin-top: 15px;
}
.treatment_section .container .row .col .box .detail_box h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.treatment_section .container .row .col .box .detail_box p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.treatment_section .container .row .col .box .detail_box a {
  text-transform: uppercase;
  color: #00c6a9;
  text-decoration: none;
}

/* treatment section start */
/* contact section start */
.contact_section {
  padding-bottom: 90px;
}
.contact_section .container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
.contact_section .container .container_header {
  margin-bottom: 25px;
}
.contact_section .container .container_header h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contact_section .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.contact_section .container .row .form_container {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 45px;
}
.contact_section .container .row .form_container input {
  width: 100%;
  border: 1px solid #00c6a9;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #101010;
}
.contact_section .container .row .form_container textarea {
  resize: none;
  height: 120px;
  width: 100%;
  border: 1px solid #00c6a9;
  padding: 15px;
  margin-bottom: 25px;
}
.contact_section .container .row .form_container input::-moz-placeholder, .contact_section .container .row .form_container textarea::-moz-placeholder {
  color: #00C6A9;
  font-size: 1rem;
}
.contact_section .container .row .form_container input::placeholder, .contact_section .container .row .form_container textarea::placeholder {
  color: #00C6A9;
  font-size: 1rem;
}
.contact_section .container .row .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 65px;
  background-color: #00c6a9;
  color: #ffffff;
  border-radius: 0;
  font-weight: bold;
}
.contact_section .container .row .form_container .image_container {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* contact section end */
/* address section start */
.address_section {
  background-color: #252525;
  color: #ffffff;
  padding: 20px;
}
.address_section .container {
  display: flex;
}
.address_section .container .map {
  width: 66.66%;
  height: 250px;
  margin: 20px;
}
.address_section .container .address_container {
  width: 33.33%;
  float: right;
}
.address_section .container .address_container h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5px;
  padding: 20px;
  text-transform: uppercase;
}
.address_section .container .address_container address {
  padding: 20px 0;
  line-height: 1.5;
}
.address_section .container .address_container address i {
  line-height: 1.5;
}
.address_section .container .address_container address a {
  text-decoration: none;
  color: white;
}
.address_section .container .address_container .social_media {
  font-size: 2rem;
}
.address_section .container .address_container .social_media i {
  color: white;
}

/* address section end */
/* footer section start */
.footer_section {
  display: flex;
  justify-content: center;
  background-color: #00C6A9;
}
.footer_section p {
  padding: 30px;
  color: white;
}
.footer_section p a {
  text-decoration: none;
  color: white;
}
.footer_section p a:hover {
  color: blue;
}

/* footer section end *//*# sourceMappingURL=style.css.map */