* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
    font-size: 1rem;
    font-weight: 400;
}

/* navigation bar start */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #00C6A9;

    .navbar_logo {
        padding: 10px 40px;
        background-color: white;
        margin-left: 30px;
    }

    .navbar_menu {
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
                padding: 40px;
                margin: 10px;

                /* font-size: 1.2rem; */
                a {
                    text-decoration: none;
                    color: white;
                }

                & a:hover {
                    color: black;
                }
            }

            & li:last-child {
                padding-right: 20px;
            }

        }
    }
}

/* navigation bar end */

/* hero section start */
.hero_section {
    display: flex;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    padding: 45px 30px 75px 30px;

    .info_section {
        flex: 1;
        margin: 10px;
        padding: 10px;

        .button_section {
            padding: 30px;
            display: flex;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 100%;
            width: 65px;
            height: 65px;
            position: relative;
            padding-top: 60px;
            z-index: 3;
            margin-top: 15px;
            margin-bottom: 45px;

            i {
                background-color: white;
                color: #00C6A9;
                font-size: 4rem;
            }
        }

        .text_section {
            h3 {
                font-size: 3rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 25px;

                span {
                    color: #00c6a9;
                }
            }

            p {
                color: #6d6d6d;
                margin-top: 0;
                margin-bottom: 1rem;
            }

            a {
                display: inline-block;
                padding: 10px 45px;
                background-color: #252525;
                color: #ffffff;
                border-radius: 5px;
                margin-top: 25px;
                text-decoration: none;
            }
        }
    }

    .img_section {
        flex: 1;
        margin: 10px;
        padding: 0 15px;

        img {
            overflow-clip-margin: content-box;
            overflow: clip;
            border-style: none;
        }
    }
}

/* hero section end */